.search-container {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    color: #00a5a3; /* Adjust color as needed */
  }
  
  .input-field {
    border: 1px solid #00a5a3;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    font-size: 14px;
  }
  
  .search-button {
    background-color: #00a5a3;
    border: none;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #007f7c;
  }
  